.new-blog-container {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  display: flex;
    justify-content: center;

}

.new-blog-content {
  height: 400px;
  margin-bottom: 80px;
}
.pic-space{
  height: 150px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.uploaded-pic{
  max-width: 100%;
  position: relative;
  max-height: 100%;

}